/* Visually hidden elements */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/* Global styles reset */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.btn {
  font-weight: 700;
  cursor: pointer;
}

.address {
  font-style: normal;
}

img {
  display: block;
  max-height: 100%;
}

.link {
  display: block;
  text-decoration: none;
  color: inherit;
}

input,
textarea {
  outline: none;
}

/* Html body styles */
body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
}

/* Container */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Paddings for all sections except Hero */
section:not(.hero) {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Zero bottom padding for feature section */
.features {
  padding-bottom: 0;
}

/* Visually observed section elements */
.visually-observed {
  margin-bottom: 50px;
  font-style: normal;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

/* Line border */
.header {
  border-bottom: 1px solid #ececec;
}

/* Header container */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo--dark {
  color: #000000;
}

.logo--light {
  color: #ffffff;
}

/* Main menu */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hover and focus for nav-links */
.nav__link:hover,
.nav__link:focus {
  color: #2196f3;
}

/* Underline of current page */
.nav__item {
  position: relative;
}

.current {
  color: #2196f3;
}
.current::after {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  background-color: #2196f3;
}

/* Contacts in header */
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em; */
  /* list-style: none; */
}

.header__contacts {
  margin-left: auto;
}

.header__contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  /* font-weight: 500; */
  font-size: 14px;
  /* line-height: 1.14;
  letter-spacing: 0.02em; */
  /* color: var(--main-color); */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts__link {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding-top: 32px;
  padding-bottom: 32px;
  /* font-style: normal; */
  font-weight: 500;
  /* font-size: 14px; */
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  /* transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

/* Color of hovered / focused icons */
.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hover and focus for contacts-links */
.contacts__link:hover,
.contacts__link:focus {
  color: #2196f3;
}/*# sourceMappingURL=main.css.map */