/* == Team section == */

.team {
  background-color: $background-color-second;
}

.team-list {
  display: flex;
}

.team-list__item {
  margin-right: 30px;

  background-color: $white-color;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
  border-radius: 0px 0px 4px 4px;
}

.team-list__item:last-child {
  margin-right: 0;
}

.member {
  padding: 30px 15px;
}

.member__name {
  margin-bottom: 10px;

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;

  color: $second-color;
}

.member__position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;

  color: $main-color;
}

.social-links-list {
  display: flex;
  justify-content: center;
}

.social-links-item:not(:last-child) {
  margin-right: 10px;
}

/* .social-links-list__item:last-child {
  margin-right: 0px;
} */

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  border-radius: 50%;
  /* fill: var(--background-color-social-link);
  background-color: inherit; */

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.member__social-link {
  fill: $background-color-social-link;
  background-color: inherit;

  /* transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.member__social-link:hover,
.member__social-link:focus {
  fill: $white-color;
  background-color: $accent-color;
}
