:root {
  /* Fonts */
  // $mainFont: 'Roboto', sans-serif;
  // $secondaryFont: 'Raleway', sans-serif;

  /* Basic colors */
  $whiteColor: #ffffff;
  $blackColor: #000000;

  /* Text colors */
  $mainColor: #757575;
  $secondColor: #212121;
  $accentColor: #2196f3;
  $interactiveContactsInFooterColor: rgba(255, 255, 255, 0.6);

  /* Background colors */
  $backgroundFooter: #2f303a;
  $backgroundHero: #c4c4c4;
  $backgroundColorSecond: #f5f4fa;
  $backgroundColorClients: #f5f5f5;
  $backgroundColorSocialLink: #afb1b8;
  $activityIconBackgroundColor: rgba(47, 48, 58, 0.8);
  $footerSocialLinkBackgroundColor: rgba(255, 255, 255, 0.1);
  $backdropBackgroundColor: rgba(0, 0, 0, 0.2);
  $buttonModalBackgroundColor: #188ce8;

  /* Border colors */
  $portfolioCardBorderColor: #eeeeee;
  $headerBottomBorderColor: #ececec;

  /* Gradient-color */
  $heroGradientColor: rgba(47, 48, 58, 0.4);
}
